html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto Slab', sans-serif;
    background-color: gainsboro;
    -webkit-font-smoothing: antialiased;
    border: 0;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    cursor: default;
    margin: -32px 0 0;
}

#tweet_wrapper {
    width: 380px;
    display: inline-block;
    vertical-align: top;
}

#tweet {
    width: 370px;
    display: inline-block;
    vertical-align: top;
}

.twitter-tweet-rendered {
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
}

#loading {
    width: 326px;
    text-align: center;
    font: bold 13px 'Roboto Slab';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin-left: -163px
}

#loadimg {
    width: 276px;
    margin-left: -12px
}

#user_input {
    text-align: center;
}

#user_input h1 {
    margin-bottom: 0;
    font-size: 40px;
    margin-top: 32px;
}

#user_input h3 {
    font-size: 18px;
    margin: 10px;
}

.desc {
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    margin: 6px auto 0;
}

#wrapper_input {
    display: inline-block;
}

#wrapper_result {
    margin: 0 auto;
    display: none;
    padding: 50px 50px 0;
    text-align: center;
}

.input_box {
    list-style: none;
    padding: 0;
}

.input_box li input[type="text"] {
    display: block;
    margin: 0;
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: whitesmoke;
    width: 300px;
    border-bottom: solid 2px #969696;
    outline: 0;
}

.input_box input[type="text"] {
    padding: 7px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
}

.btn-primary {
    cursor: pointer;
    border: 1px solid #AF0E09;
    padding: 6px 12px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    color: #fff;
    float: none;
    font-size: 18px;
    width: 120px;
    height: 37px;
    margin: 0 0 0 10px;
    position: relative;
    top: 2px;
    background-color: #AF0E09;
}

.info {
    float: left;
    font-size: 12px;
    color: #666;
    font-weight: bold;
    width: 300px;
    text-align: left;
}

#noTweet {
    font-weight: bold;
    font-size: 20px;
    display: none;
    text-align: center;
    margin-top: 50px;
}

.tweets {
    vertical-align: top;
    width: 500px;
    margin: 5px;
    display: none;
}

#examples {
    padding: 10px;
    text-align: center;
}

.desc_examples {
    color: #808080;
    font-weight: bold;
    width: 445px;
    text-align: left;
    margin: 20px auto 0;
}

#score_num {
    font-size: 1.5em;
    margin: 5px 0 0;
    width: 380px;
    text-align: center;
}

#fake_desc {
    font-size: 12px;
    color: #666;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    text-align: center;
    margin-bottom: 5px;
}

.fake_tweet {
    border: 5px solid rgb(229, 0, 0);
}

.real_tweet {
    border: 5px solid rgb(44, 160, 44);
}

.tweet_header {
    background: #B4B8AB;
    border-bottom: 1px solid #aaa;
    padding: 10px 0;
}

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0
}

.table {
    width: 100%;
    margin-bottom: 20px
}

.table th,
.table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid #ddd
}

.table th {
    font-weight: bold
}

.table thead th {
    vertical-align: bottom
}

.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
    border-top: 0
}

.table tbody + tbody {
    border-top: 2px solid #ddd
}

.table .table {
    background-color: #fff
}

.table-bordered {
    border: 1px solid #ddd;
    border-collapse: separate;
    *border-collapse: collapse;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.table-bordered th,
.table-bordered td {
    border-left: 1px solid #ddd
}

#features_table tr {
    background: white;
}

#features_table th {
    background: #40798C;
    color: #fff;
}

#features_table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

#features_table {
    display: inline-table;
    table-layout: fixed;
    margin-top: 57px;
    margin-left: 24px;
    border-left: none;
    max-width: 470px;
}

.bold {
    font-weight: bold;
    font-size: 19px;
    margin: 0 3px;
}

.fake {
    font-weight: bold;
    font-size: 19px;
    margin: 0 3px;
    color: rgb(229, 0, 0);
}

.real {
    color: rgb(44, 160, 44);
    font-weight: bold;
    font-size: 19px;
    margin: 0 3px;

}

.tooltip {
    margin-left: 5px;
    position: relative;
    top: 1px;
    width: 12px;
}

.tooltip_templates {
    display: none;
}

.tooltipster-content p {
    margin: 0;
}

#tabs {
    position: absolute;
    display: inline-block;
    padding-top: 5px;
    margin-left: 25px;
}

#tabs input {
    display: none;
}

#tabs input:checked + label {
    color: #555;
    border: 1px solid #888;
    border-top: 2px solid #40798C;
    cursor: default;
    border-bottom: none;
    background: #ccc;
}

#tabs label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #999;
    border: 1px solid transparent;
    cursor: pointer;
}

@media only screen and (max-width: 1050px) {
    #tabs {
        display: block;
        position: relative;
        max-width: 500px;
        text-align: left;
        text-indent: 1px;
        margin: 40px auto 0;
    }

    #features_table {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }

    #tweet_wrapper {
        margin: 0 auto;
        display: block;
    }
}

th:last-child {
    width: 110px;
}

.desc_container {
    max-width: 964px;
    margin: 0 auto;
    padding: 0 20px;
}

.desc_content {
    padding-top: 35px;
    margin-bottom: 55px;
    margin-right: 20px;
    border-top: 8px solid #333;
    margin-top: -8px;
    z-index: 1;
}

.desc_title {
    margin: 0;
    font-size: 27px;
    line-height: 27px;
    position: relative;
    border-bottom: 8px solid #ad100a;
    z-index: 2;
    padding: 30px 0;
    float: left;
    font-weight: bold;
    text-transform: none;
    color: #111;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.desc_content a {
    font-weight: bold;
    color: #ad100a;
}

#navigation {
    background-color: #a90f0a;
    font-size: 14px;
    color: white;
}

#navigation a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#navigation ul {
    padding: 3px 0;
    text-align: left;
    margin: 32px 0 0 20px;
}

#navigation ul li {
    list-style-type: none;
    display: inline;
    cursor: pointer;
}

.tooltipster-content a{
    color: #ad100a;
    font-weight: bold;
}